* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Robotobold.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 115px;
}

.menu-item a{
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid black;
}

.main {
    background-image: url("../../assets/images/analyzer-res-modernize-it-infrastructure.jpeg");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.marketplace {
    background-image: url("../../assets/images/sl-home.jpeg");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.v_game {
    background-image: url("../../assets/images/Backlinks-kaufen-BG.png");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.marketplace-items {
    margin-left: 500px;
    font-size: 20px;
}

.game-items {
    margin-left: 390px;
    font-size: 20px;
}

.token-items {
    font-size: 16px;
    line-height: 130%;
    color: white;
}

.token .sub-title {
    color: white;
}

.activity-items-items {
    font-size: 16px;
    line-height: 130%;
    color: black;
}

.activity .sub-title {
    font-size: 20px;
    line-height: 70px;
    color: black;
    background-position: left;
}

.token {
    background-image: url("../../assets/images/resource-1.jpg");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.activity {
    background-image: url("../../assets/images/hero-transform.png");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}
.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: white;
    margin-bottom: 40px;
    margin-left: 800px;
}

.main-text {
    font-size: 16px;
    line-height: 130%;
    color: white;
    margin-bottom: 40px;
    max-width: 502px;
}

.button {
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
    margin-left: 800px;
}

.button:hover {
    cursor: pointer;
    background: #575757;
}

.user {
    padding: 100px 0;
}

.sub-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 70px;
    color: #030305;
    margin-left: 400px;
}

.user-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.user-item {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
}

.user-item-image:hover img {
    transform: scale(1.1);
}
.user-item-image img {
    vertical-align: bottom;
    transition: all .3s;
}

.user-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
}

.footer {
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-size: 15px;
    color: #030305;
}
