* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Robotobold.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 115px;
}

.menu-item a{
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid black;
}

.main {
    background-image: url("../../assets/images/4.jpg");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    color: blue;
    margin-bottom: 40px;
}

.main-text {
    font-size: 16px;
    line-height: 130%;
    color: black;
    margin-bottom: 40px;
    max-width: 502px;
}

.price .button {
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
}

.main-action .button {
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #575757;
}

.price {
    overflow: hidden;
}

.price .container {
    position: relative;
    padding-bottom: 121px;
}

.price .sub-title {
    margin-bottom: 20px;
}

.price-text {
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;
}

.price-input {
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}

.price-input::placeholder {
    color: #5D5D5F;
}

.price .button {
    width: 100%;
}

.price-image {
    position: absolute;
    bottom: 0;
    left: 401px;
}

.user {
    padding: 100px 0;
}

.sub-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 70px;
    color: #030305;
    margin-left: 400px;
}

.user-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.user-item {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
}

.user-item-image:hover img {
    transform: scale(1.1);
}
.user-item-image img {
    vertical-align: bottom;
    transition: all .3s;
}

.user-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
}

.user-item-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-item-point {
    width: 110px;
    height: 92px;
    margin: 0 7.5px;

}

.user-item-point img {
    margin-bottom: 11px;
}

